/*Media Para Tablets*/
@media screen and (min-width: 700px) and (max-width: 950px) and (min-height: 840px){
    :root{
        --widthCalc: 170px;
        --heigthCalc: 300px;
        --width: 150px;
        --heigth: 120px;
    }

    header nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(50% + 75px);
        height: 100%;
        float: right;
    }
    #jogar{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 50px;
        font-size: 1.3em;
        font-family: var(--fontGame);
        color: white;
        letter-spacing: 1.5px;
        background-color: #BF613F;
        border-radius: 10px;
        border: none;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 20%);
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 40%);
        cursor: pointer;
    }
    /*Calculator container*/
    #container_calc{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: initial;
        width: calc(240px + var(--widthCalc));
        height: calc(425px + var(--heigthCalc));
        padding: 25px;
    }
    /*Screen*/
    #border_screen{
        width: calc(216px + var(--width));
        height: calc(170px + var(--heigth) + 25px );
    }
    #lvl{
        width: calc(193px + var(--width));
        height: 40px;
        font-size: 1.6em;
    }
    #lvl span{
        width: 90px;
        height: 30px;
        border: 1px solid black;
        border-radius: 3px;
        background-color: #643933;
        box-shadow:inset 0px 4px 1px 0px rgba(78, 40, 37, 40%);
    }
    #screen{
        width: calc(188px + var(--width));
        height: calc(116px + var(--heigth));
        border-top: 7px solid var(--calc16);
    }
    #top_screen{
        width: 100%;
        height: 50px;
        padding: 5px 10px 0px 10px;
    }
    #emote{
        width: 85px;
        height: 47px;
        border: 4px solid var(--calc3);
        border-radius: 10px;
    }
    .goal_move{
        width: 106px;
        height: 47px;
        color: white;
        font-size: 0.9em;
        border-radius: 4px;
    }
    #text_screen{
        width: calc(179px + var(--width));
        height: calc(40px + var(--heigth));
        padding: 0px 15px;
        margin-top: 6px;
    }
    p#txt_back{
        font-size: 85px;
    }
    p#txt_front{
        font-size: 85px;
        text-shadow: 1.5px 1.5px 2px rgba(69, 74, 78, 50%);
    }
    /*Screen*/

    /*Buttons*/
    #container_buttom{
        width: 100%;
        height: calc(174px + var(--heigth));
    }
    #group1{
        margin-top: 12px;
    }
    div.group_buttom{
        width: 100%;
        height: 90px;
        margin-top: 5px;
    }
    div.group_buttom span{
        width: 115px;
        height: 75.5px;
        margin-top: 20px;
        box-shadow: 0px 3px 0px #D8D3C6, 0px -3px 0px #D8D3C6;
    }
    .buttom{
        width: 115px;
        height: 76.5px;
        top: -7px;
    }
    .buttom:active{
        box-shadow: 0px 0px 0px var(--calc8) !important;
        top: -1px !important;
        transition: 110ms;
    }

    /*Buttom efects*/
    .buttonN{
    display: none;
    }
    .buttonBlue{
        background-color: var(--calc11);
        box-shadow: 0px 12px 0px var(--calc12);
    }
    .buttonBlack{
        background-color: var(--calc3);
        box-shadow: 0px 12px 0px var(--calc4);
    }
    .buttonRed{
        background-color: var(--calc7);
        box-shadow: 0px 12px 0px var(--calc8);
    }
    .buttonYellow{
        background-color: var(--calc13);
        box-shadow: 0px 12px 0px var(--calc14);
    }
    /*Buttom efects*/
    }