@charset "UTF-8";
@font-face {
    font-family: 'texto';
    src:url(../../fonts/Gotham/Gotham-Medium.otf);
}
@font-face {
    font-family: 'game';
    src:url(../../fonts/gameplay/Gameplay.ttf);
}
@font-face {
    font-family: 'player';
    src:url(../../fonts/players/Players.ttf);
}
@font-face {
    font-family: 'calculator';
    src:url(../../fonts/calculator/Calculator.ttf);
}

:root{
    /*Cores do Site*/ 
    --cor1: #68A694;
    --cor2: #ABBF80;
    --cor3: #F2D091;
    --cor4: #F2B885;
    --cor5: #BF613F;
    /*Cores do Site*/ 

    /*Fontes*/
    --fontTxt: 'texto', Arial, Helvetica, sans-serif;
    --fontGame: 'game', Arial, Helvetica, sans-serif;
    --fontPlayer: 'Player', Arial, Helvetica, sans-serif;
    --calculator: 'calculator', Arial, Helvetica, sans-serif;
    /*Fontes*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body,html{
    font-family: var(--fontTxt);
}

/*Configuração*padrão dos links*/
a{
    color: white;
    text-decoration: none;
}
/*Configuração*padrão dos links*/

/*Header*/
header{
    width: 100%;
    height: 70px;
    background-color: var(--cor1);
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(50% + 75px);
    height: 100%;
    float: right;
}
#jogar{
    width: 150px;
    height: 50px;
    font-size: 1.3em;
    background-color: #BF613F;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 20%);
    cursor: pointer;
}
#jogar a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    font-size: 1.3em;
    font-family: var(--fontGame);
    color: white;
    letter-spacing: 1.5px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 40%);
}

/*Menu NavBar*/
#menu_burgue{
    width: 33px;
    height: 27px;
    margin-right: 20px;
    color: white;
    background-color: transparent;
    border: none;
    border-top: 4px solid;
    cursor: pointer;
}
#menu_burgue::after, #menu_burgue::before{
    content: '';
    display: block;
    position: relative;
    width: 33px;
    height: 4px;
    background: currentColor;
    margin-top: 7px;
    transition: .3s;
}
nav.ativo #menu_burgue{
    border-top: transparent;
}
nav.ativo #menu_burgue::after{
    transform: rotate(136deg);
    top: -0.8em;
}
nav.ativo #menu_burgue::before{
    transform: rotate(-136deg);
}

#logoDesktop{
    display: none !important;
}
#menu_nav{
    display: block;
    width: 100%;
    height: 0px;
    position: absolute;
    top: 69px;
    left: 0;
    list-style: none;
    transition: 0.4s;
    visibility: hidden;
    overflow-y: hidden;
    background-color: #68A694;  
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 20%); 
    z-index: 100;
}
nav.ativo #menu_nav{
    height: calc(100vh - 69px);
    visibility: visible;
    overflow-y: auto;
}
#menu_nav li{
    width: 100%;
    padding: 10px 10px ;
    height: 70px;
}
#menu_nav li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 70px;
    padding-left: 10px;
    border-bottom: 1px solid #8de5cc;
    letter-spacing: 2px;
    font-size: 1.4em;
    font-family: var(--fontGame);
    cursor: pointer;
}
#menu_nav li a:hover{
    background-color: #abbf8063;
    transition: 0.4s;
}
/*Menu NavBar*/
/*Header*/

/*Footer*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: var(--cor1);
}
div#containerFooter{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    height: 100%;
}
div#copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 35px;
    padding-bottom: 5px;
}
div#copyright p{
    text-align: center;
    font-size: 0.8em;
    color: white;
}

div#social{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
}
span.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    padding: 0px 5px;
}
span.redes svg{
    height: 30px;
    fill: white;
}
/*Footer*/

/*Footer tablet*/
@media screen and (min-width: 768px) and (max-width: 950px){
    div#containerFooter{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 750px;
        width: 85%;
        height: 100%;
        padding: 10px;
    }
    div#copyright{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;
    }
    div#copyright p{
        display: flex;
        flex-wrap: wrap;
        font-size: 1.2em;
        color: white;
    }
    
    div#social{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        height: 100%;
    }
    span.redes{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 100%;
        padding: 0px 30px;
    }
    span.redes svg{
        height: 40px;
        fill: white;
    }
}
/*Footer tablet*/